:root {
    --background: #eff7f9;
    --black: #0a0b10;
    --purple: #803bec;
    --pink: #e5a1f8;
    --white: #fff;
    --nav: #35353f;
    --nav2: #3f3d56;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --font-acronym: "__acronym_5cfa82";
    --font-reckless: "__recklessNeue_9c8875", "__recklessNeue_Fallback_9c8875";
}

@font-face {
    font-family: __acronym_5cfa82;
    src: url("./assets/fontSize/a53ac29903807891-s.p.woff2") format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: __acronym_5cfa82;
    src: url(./assets/fontSize/2db94d8b960c343f-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: __acronym_Fallback_5cfa82;
    src: local("Arial");
    ascent-override: 107.47%;
    descent-override: 27.46%;
    line-gap-override: 0.00%;
    size-adjust: 100.50%
}

@font-face {
    font-family: __recklessNeue_9c8875;
    src: url(./assets/fontSize/fdd868ecfa75806d-s.p.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: __recklessNeue_Fallback_9c8875;
    src: local("Arial");
    ascent-override: 93.31%;
    descent-override: 21.76%;
    line-gap-override: 0.00%;
    size-adjust: 97.42%
}


.type-body-sm {
    font-family: var(--font-acronym);
    font-size: var(--size-body-sm);
    line-height: 1.25;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    /* overflow-y: scroll; */
    /* Uncomment if scroll bar is needed */
    scroll-behavior: smooth;
}

body,
html,
a {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: var(--background);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    outline: none;
}

button:focus,
*:focus {
    outline: none;
}

img,
svg {
    width: 100%;
    height: auto;
}





:root {
    --size-body-xxs: 0.75rem;
    --size-body-xs: 0.75rem;
    --size-body-sm: 1.125rem;
    --size-body-md: 1.25rem;
    --size-body-lg: 1.25rem;
    --size-title-sm: 1.5rem;
    --size-title-md: 2.375rem;
    --size-title-lg: 2.5rem;
    --size-title-xl: 2.875rem;
    --size-title-2xl: 3.25rem;
    --size-title-3xl: 3.25rem
}

@media (min-width: 768px) {
    :root {
        --size-body-xs: 0.875rem;
        --size-body-md: 1.5rem;
        --size-body-lg: 2rem;
        --size-title-md: 2.75rem;
        --size-title-lg: 4rem;
        --size-title-xl: 4rem;
        --size-title-2xl: 4.5rem;
        --size-title-3xl: 5.5rem
    }
}

@media (min-width: 1024px) {
    :root {
        --size-body-sm: 1.125rem;
        --size-body-md: 1.5rem;
        --size-title-sm: 2rem;
        --size-title-lg: 4rem;
        --size-title-xl: 4.5rem;
        --size-title-2xl: 5.5rem;
        --size-title-3xl: 7rem
    }
}

@media (min-width: 1280px) {
    :root {
        --size-title-lg: 4.625rem;
        --size-title-xl: 5.5rem;
        --size-title-2xl: 6.75rem;
        --size-title-3xl: 9rem
    }
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: var(--font-acronym);
    font-feature-settings: normal;
    font-variation-settings: normal
}

.bg-purple {
    --tw-bg-opacity: 1;
    background-color: rgb(85 56 206/var(--tw-bg-opacity));
}

.bg-eggshell {
    --tw-bg-opacity: 1;
    background-color: rgb(239 235 237/var(--tw-bg-opacity));
}

.text-purple {
    --tw-text-opacity: 1;
    color: rgb(85 56 206/var(--tw-text-opacity));
}

.h-screen-s {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    height: 100svh;
}